@use "./assets/styles/media-queries" as *;

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
  .sidebar {
    flex: 0 0 25rem;
    padding: 0 2rem 2rem 2rem;
    .selected-category {
      padding: 0.25rem;
      background-color: var(--selected);
      border-radius: 0.3rem;
      box-shadow: var(--box-shadow);
      text-align: center;
      font-weight: 700;
    }
    .categories {
      padding: 2rem;
      background-color: white;
      border-radius: 0.3rem;
      box-shadow: var(--box-shadow);
      li {
        margin: 1rem;
        transition: color 0.2s;
        cursor: pointer;
        &:hover {
          color: var(--primary);
          strong {
            color: var(--primary);
          }
        }
      }
    }
  }
  .articles-container {
    flex: 1;
    max-width: 80rem;
    width: 100%;
    margin: 0 0 10rem 0;
    .article {
      background-color: white;
      padding: 0 5rem;
      @include xs {
        padding: 0 2rem;
      }
      border-radius: 0.3rem;
      margin-bottom: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: var(--box-shadow);
      img {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        margin-top: -3rem;
        box-shadow: var(--box-shadow);
      }
      h2 {
        margin-top: 2rem;
        margin-bottom: 0;
      }
      &-author {
        color: var(--grey100);
        margin-bottom: 0.5rem;
      }
      &-category {
        color: var(--grey200);
        margin-bottom: 2.5rem;
      }
      &-content {
        max-width: 550px;
        white-space: pre-line;
      }
      &-actions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 2rem 0;
        margin-top: 2rem;
        border-top: 1px solid var(--divider);
        .btn {
          margin-left: 10px;
          &:disabled {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
